

  body{
    margin:0px;
  }


  .image{
    height: 500px;
    width: 1270px;
    margin-top: 80px;
    margin-left: 5px;

    background-color: gray;
  }
  .image img{
    flex-shrink: 0;
    height: 500px;
    min-width: 100%;
    min-height:100%;
  }
